.blog-card {
  padding: 32px;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: #ffffff;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.12);
  }
  &:hover {
    .blog-card__meta {
      &-left {
        background-color: #f7f7f7;
      }
    }
  }
  @include max(991px) {
    padding: 16px;
  }
  @include max(525px) {
    padding: 8px;
  }
  &__feature-image {
    margin-bottom: 16px;
    a {
      display: block;
      img {
        width: 100%;
        height: 250px;
        border-radius: 5px;
        object-fit: cover;
      }
    }
  }
  &__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    color: #707070;
    p {
      font-size: 14px;
      line-height: 24px;
      color: #707070;
    }
    @include max(375px) {
      font-size: 14px;
    }
    &-left {
      padding: 8px 16px;
    }
    &-right {
      text-align: right;
    }
  }
  &__title {
    a {
      font-weight: bold;
      font-size: 24px;
      line-height: 27px;
      letter-spacing: -0.02em;
      color: #161616;
      margin-bottom: 8px;
    }
  }
  &__short-desc {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.001em;
    color: #707070;
    margin-bottom: 16px;
    height: 100px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__author {
    font-size: 14px;
    line-height: 20px;
    color: #707070;
    margin-bottom: 40px;
  }
  &__btn {
    font-size: 14px;
    line-height: 20px;
    color: #0063f7;
    width: 100px;
    i {
      opacity: 0;
      margin-left: -2px;
      transition: 0.3s all ease-in;
    }
    &:hover {
      i {
        opacity: 1;
        margin-left: 3px;
      }
    }
  }
}
