.btn_primary {
  color: #f7f7f7;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background: #0063f7;
  border-radius: 5px;
  padding: 10px 35px;
  display: inline-block;
  transition: 0.3s all ease-in;
  &:hover {
    background-color: transparent;
    color: #0063f7;
  }
}
