.portfolio-card {
  padding: 32px;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: #ffffff;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.12);
  }
  &:hover {
    .portfolio-card__meta {
      background-color: #f7f7f7;
    }
  }
  @include max(375px) {
    padding: 16px;
  }
  &__feature-image {
    margin-bottom: 16px;
    a {
      display: block;
      img {
        width: 100%;
        height: 250px;
        border-radius: 5px;
      }
    }
  }
  &__meta {
    margin-bottom: 16px;
    display: inline-block;
    padding: 8px 16px;
    p {
      font-size: 14px;
      line-height: 24px;
      color: #707070;
    }
  }
  &__title {
    a {
      font-weight: bold;
      font-size: 24px;
      line-height: 27px;
      letter-spacing: -0.02em;
      color: #161616;
      margin-bottom: 8px;
    }
  }
  &__short-desc {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.001em;
    color: #707070;
    margin-bottom: 16px;
  }
  &__author {
    font-size: 14px;
    line-height: 20px;
    color: #707070;
    margin-bottom: 40px;
  }
  &__btn {
    font-size: 14px;
    line-height: 20px;
    color: #0063f7;
    transition: 0.3s all ease-in;

    i {
      transition: 0.3s all ease-in;
      opacity: 0;
    }
    &:hover {
      i {
        opacity: 1;
      }
    }
  }
}
