.card {
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 32px;
  text-align: center;
  transition: 0.3s all ease-in;
  @include max(525px){
    padding: 15px;
    }
  &:hover {
    background: #ffffff;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.12);
  }
  &-top {
    h4 {
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.05em;
      color: #161616;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #707070;
      height: 75px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    h3 {
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      text-align: center;
      color: #161616;
    }
    &-btn {
      margin: 35px 0;
    }
  }
  &-list {
    ul {
      text-align: left;
      li {
        display: flex;
        font-size: 16px;
        text-transform: capitalize;
        color: #707070;
        padding-bottom: 10px;
        span {
          margin-right: 10px;
          display: inline-block;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          position: relative;
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          &.active {
            background-color: #0063f7;
          }
          &.inactive {
            background-color: #c6c6c6;
          }
        }
      }
    }
  }
  @include max(991px) {
    margin-bottom: 15px;
  }
}
