.service-card {
  padding: 32px;
  border: 1px solid #e2e2e2;
  transition: 0.3s all ease-in;
  @include max(525px){
    padding: 15px;
    }
  &:hover {
    background: #ffffff;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.12);
  }
  &-icon {
    background-color: #fce7be;
    width: 64px;
    height: 64px;
    position: relative;
    margin-bottom: 16px;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &--graphic {
      border-radius: 5px;
    }
    &--arch {
      background-color: #ffcdcd;
      border-radius: 5px;
    }
    &--ux {
      background-color: #daf3ff;
      border-radius: 5px;
    }
  }
  &-content {
    h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.02em;
      color: #161616;
      padding-bottom: 8px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      color: #707070;
      padding-bottom: 15px;
      height: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @include max(767px) {
      margin-bottom: 20px;
    }
  }
}
