.sidebar{
    background-color: #F7F7F7;
    overflow: hidden;
    padding: 16px;
    &-profile{
        margin: 16px;
        &__image{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin: 0 auto 16px;
            img{
                width: 100%;
            }
        }
        &__name, &__designation{
            text-align: center;
        }
        &__name{
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            color: #161616;
        }
        &__designation{
            margin-bottom: 14px;
        }
        &__social-media{
            ul{
                text-align: center;
                li{
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    margin: 0 8px;
                    
                    a{
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    &-menu{
        margin-bottom: 64px;
        ul{
            li{
                padding: 6px 0px;
                &:hover, &:active{
                        background-color: #EDEDED;
                        a{
                            img{
                                fill: #2D7CF5;
                            }
                        }
                    }
                a{
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: -0.001em;
                    span{
                        color: #707070;
                    }
                    img{
                        margin: 0px 20px;
                    }
                }
            }
        }
    }
    &-contact{
        p{
            display: flex;
            align-items: center;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.001em;
            color: #707070;
            img{
                margin: 0px 20px;
            }
        }
    }
}