.sidebar{
    background-color: #F7F7F7;
    overflow: hidden;
    padding: 16px;
    @include max(991px){
        padding: 2px;
    }
    position: fixed;
    top: 0;
    bottom: 0;
    &-profile{
        margin: 16px;
        &__image{
            width: 150px;
            height: 150px;
            @include max(991px){
                width: 32px;
                height: 32px;
                margin-bottom: 80px;
            }
            border-radius: 50%;
            margin: 0 auto 16px;
            img{
                width: 100%;
            }
        }
        &__name, &__designation{
            text-align: center;
            @include max(991px){
                display: none;
            }
        }
        &__name{
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            color: #161616;
        }
        &__designation{
            margin-bottom: 14px;
        }
        &__social-media{
            @include max(991px){
                display: none;
            }
            ul{
                text-align: center;
                li{
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    margin: 0 8px;
                    
                    a{
                        img{
                            width: 100%;
                        }
                        
                    }
                }
            }
        }
    }
    &-menu{
        margin-bottom: 48px;
        ul{
            li{
                padding: 6px 0px;
                @include max(991px){
                    margin: 30px 0;
                }
                &:hover, &:active{
                        background-color: #EDEDED;
                    }
                a{
                    display: flex;
                    align-items: center;
                    @include max(991px){
                        justify-content: center;
                    }
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: -0.001em;

                    span{
                        color: #707070;
                        @include max(991px){
                            display: none;
                        }
                    }
                    img{
                        width: 16px;
                        height: 16px;
                        margin: 0px 12px;
                    }
                }
            }
        }
    }
    &-contact{
        @include max(991px){
            display: none;
        }
        p{
            display: flex;
            align-items: center;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.001em;
            color: #707070;
            img{
                width: 16px;
                height: 16px;
                margin: 0px 12px;
            }
        }
    }
}