@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: "Public Sans", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
<<<<<<< HEAD
.page-title{
    font-weight: bold;
=======
main {
  background-color: #f7f7f7;
}
.section-title {
  h2 {
    font-weight: 700;
>>>>>>> a10450cb2f7bd000e391ba44c1bc369daa9f7dcc
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #161616;
<<<<<<< HEAD
    margin-bottom: 48px;
}
=======
    text-transform: capitalize;
  }
}
>>>>>>> a10450cb2f7bd000e391ba44c1bc369daa9f7dcc
