@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: "Public Sans", sans-serif;
  position: relative;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

main {
  background-color: #f7f7f7;
}

.page-title {
  margin-bottom: 48px;
}

.section-title {
  text-transform: capitalize;
}

.section-title h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #161616;
  margin-bottom: 35px;
}

.mySlide {
  display: none;
}

.mySlideText {
  display: none;
}

.main-bar {
  background-color: #F7F7F7;
  padding: 40px;
}

@media (max-width: 767px) {
  .main-bar {
    padding: 20px;
  }
}

.sidebar {
  background-color: #F7F7F7;
  overflow: hidden;
  padding: 16px;
  position: fixed;
  top: 0;
  bottom: 0;
}

@media (max-width: 991px) {
  .sidebar {
    padding: 2px;
  }
}

.sidebar-profile {
  margin: 16px;
}

@media (max-width: 991px) {
  .sidebar-profile {
    margin: 2px;
  }
}

.sidebar-profile__image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto 16px;
}

@media (max-width: 991px) {
  .sidebar-profile__image {
    width: 32px;
    height: 32px;
    margin-bottom: 80px;
  }
}

.sidebar-profile__image img {
  width: 100%;
}

.sidebar-profile__name, .sidebar-profile__designation {
  text-align: center;
}

@media (max-width: 991px) {
  .sidebar-profile__name, .sidebar-profile__designation {
    display: none;
  }
}

.sidebar-profile__name {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #161616;
}

.sidebar-profile__designation {
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .sidebar-profile__social-media {
    display: none;
  }
}

.sidebar-profile__social-media ul {
  text-align: center;
}

.sidebar-profile__social-media ul li {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0 8px;
}

.sidebar-profile__social-media ul li a img {
  width: 100%;
}

.sidebar-menu {
  margin-bottom: 48px;
}

.sidebar-menu ul li {
  padding: 6px 0px;
}

@media (max-width: 991px) {
  .sidebar-menu ul li {
    margin: 30px 0;
  }
}

.sidebar-menu ul li:hover, .sidebar-menu ul li:active {
  background-color: #EDEDED;
}

.sidebar-menu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.001em;
}

@media (max-width: 991px) {
  .sidebar-menu ul li a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.sidebar-menu ul li a span {
  color: #707070;
}

@media (max-width: 991px) {
  .sidebar-menu ul li a span {
    display: none;
  }
}

.sidebar-menu ul li a img {
  width: 16px;
  height: 16px;
  margin: 0px 12px;
}

@media (max-width: 991px) {
  .sidebar-contact {
    display: none;
  }
}

.sidebar-contact p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.001em;
  color: #707070;
}

.sidebar-contact img {
  width: 16px;
  height: 16px;
  margin: 0px 12px;
}

.btn_primary {
  color: #f7f7f7;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background: #0063f7;
  border-radius: 5px;
  padding: 10px 35px;
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}

.btn_primary:hover {
  background-color: transparent;
  color: #0063f7;
}

.blog-card {
  padding: 32px;
  border: 1px solid #E2E2E2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

@media (max-width: 375px) {
  .blog-card {
    padding: 16px;
  }
}

.blog-card__feature-image {
  margin-bottom: 16px;
}

.blog-card__feature-image a {
  display: block;
}

.blog-card__feature-image a img {
  width: 100%;
  border-radius: 5px;
}

.blog-card__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
  color: #707070;
}

@media (max-width: 375px) {
  .blog-card__meta {
    font-size: 14px;
  }
}

.blog-card__meta-left {
  padding: 8px 16px;
}

.blog-card__meta-right {
  text-align: right;
}

.blog-card__title a {
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: -0.02em;
  color: #161616;
  margin-bottom: 8px;
}

.blog-card__short-desc {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.001em;
  color: #707070;
  margin-bottom: 16px;
}

.blog-card__author {
  font-size: 14px;
  line-height: 20px;
  color: #707070;
  margin-bottom: 40px;
}

.blog-card__btn {
  font-size: 14px;
  line-height: 20px;
  color: #0063F7;
}

.portfolio-card {
  padding: 32px;
  border: 1px solid #E2E2E2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

@media (max-width: 375px) {
  .portfolio-card {
    padding: 16px;
  }
}

.portfolio-card__feature-image {
  margin-bottom: 16px;
}

.portfolio-card__feature-image a {
  display: block;
}

.portfolio-card__feature-image a img {
  width: 100%;
  border-radius: 5px;
}

.portfolio-card__meta {
  margin-bottom: 16px;
}

.portfolio-card__title a {
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: -0.02em;
  color: #161616;
  margin-bottom: 8px;
}

.portfolio-card__short-desc {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.001em;
  color: #707070;
  margin-bottom: 16px;
}

.portfolio-card__author {
  font-size: 14px;
  line-height: 20px;
  color: #707070;
  margin-bottom: 40px;
}

.portfolio-card__btn {
  font-size: 14px;
  line-height: 20px;
  color: #0063F7;
}

.hero-content h1 {
  font-weight: 700;
  font-size: 76px;
  line-height: 88px;
  letter-spacing: -0.02em;
  color: #161616;
}

@media (max-width: 991px) {
  .hero-content h1 {
    font-size: 60px;
    line-height: 75px;
  }
}

.hero-content h1 span {
  display: block;
}

.hero-content p {
  font-size: 24px;
  line-height: 36px;
  color: #707070;
  margin-bottom: 100px;
}

.hero-content__btn a {
  width: 190px;
  height: 52px;
  padding: 15px 35px;
}

.hero-content__btn a:last-child {
  background-color: transparent;
  color: #0063f7;
}

.hero-content__btn a:last-child:hover {
  background-color: #0063f7;
  color: #f7f7f7;
}

@media (max-width: 991px) {
  .hero-content__btn a:last-child {
    margin-top: 15px;
  }
}

.hero-img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero-img img {
  width: 100%;
}

@media (max-width: 768px) {
  .about {
    margin-top: 50px;
  }
}

.about-img {
  width: 100%;
  height: 449px;
}

.about-img img {
  width: 100%;
  height: 100%;
}

.about-content {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #707070;
}

.service-history {
  color: #161616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-history h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  width: 149px;
  height: 149px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fce7be;
  border-radius: 25px;
  margin-bottom: 18px;
}

.service-history p {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

.service-history--complete h2 {
  background: #fce7be;
}

.service-history--years h2 {
  background: #daf3ff;
}

.service-history--clients h2 {
  background: #ffcdcd;
}

.service-history--award h2 {
  background: #8bdb81;
}

@media (max-width: 767px) {
  .service-history {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .service-history-card {
    margin-bottom: 20px;
  }
}

.service-card {
  padding: 15px;
  border: 1px solid #e2e2e2;
}

.service-card-icon {
  background-color: #fce7be;
  width: 64px;
  height: 64px;
  position: relative;
  margin-bottom: 16px;
}

.service-card-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.service-card-icon--graphic {
  border: 1px solid #e2e2e2;
}

.service-card-icon--arch {
  background-color: #ffcdcd;
}

.service-card-icon--ux {
  background-color: #daf3ff;
}

.service-card-content h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #161616;
  padding-bottom: 8px;
}

.service-card-content p {
  font-size: 16px;
  line-height: 24px;
  color: #707070;
  padding-bottom: 15px;
}

.service-card-content-btn a {
  background-color: transparent;
  color: #0063f7;
  text-align: left;
  padding-left: 0;
}

.service-card-content-btn a:hover {
  background-color: #0063f7;
  color: #f7f7f7;
  padding-left: 35px;
}

.service-history {
  color: #161616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-history h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  width: 149px;
  height: 149px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fce7be;
  border-radius: 25px;
  margin-bottom: 18px;
}

.service-history p {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

.service-history--complete h2 {
  background: #fce7be;
}

.service-history--years h2 {
  background: #daf3ff;
}

.service-history--clients h2 {
  background: #ffcdcd;
}

.service-history--award h2 {
  background: #8bdb81;
}

@media (max-width: 767px) {
  .service-history {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .service-history-card {
    margin-bottom: 20px;
  }
}

.card {
  border: 1px solid #e2e2e2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
}

.card-top h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #161616;
}

.card-top p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #707070;
}

.card-top h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #161616;
}

.card-top-btn {
  margin: 35px 0;
}

.card-list ul {
  text-align: left;
}

.card-list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  text-transform: capitalize;
  color: #707070;
  padding-bottom: 10px;
}

.card-list ul li span {
  margin-right: 10px;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: relative;
}

.card-list ul li span img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card-list ul li span.active {
  background-color: #0063f7;
}

.card-list ul li span.inactive {
  background-color: #c6c6c6;
}

@media (max-width: 767px) {
  .card {
    margin-bottom: 15px;
  }
}

.clients-gallery {
  position: relative;
  height: 400px;
  padding: 20px;
}

@media (max-width: 767px) {
  .clients-gallery {
    display: none;
  }
}

.clients-gallery img {
  display: inline-block;
}

.clients-gallery .img2 {
  position: absolute;
  width: 60px;
  left: 20px;
  top: 20px;
}

.clients-gallery .img3 {
  position: absolute;
  right: 130px;
  top: 50px;
  width: 60px;
}

.clients-gallery .img4 {
  position: absolute;
  top: 70px;
  left: 200px;
}

.clients-gallery .img5 {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
}

.clients-gallery .img6 {
  position: absolute;
  left: 60px;
  top: 120px;
}

.clients-gallery .img7 {
  position: absolute;
  top: 200px;
  left: 60%;
}

.clients-gallery .img8 {
  position: absolute;
  right: 20px;
  top: 120px;
}

.clients-gallery .img9 {
  width: 100px;
  position: absolute;
  left: 70px;
  top: 180px;
}

.testimonial .qoute-img {
  width: 40px;
  height: 32px;
  margin-bottom: 16px;
}

.testimonial__qoute-text {
  padding-left: 40px;
  margin-bottom: 64px;
}

.testimonial__client-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 480px) {
  .testimonial__client-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.testimonial__client-info .client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  .testimonial__client-info .client {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.testimonial__client-info .client__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 28px;
}

.testimonial__client-info .client__image img {
  width: 100%;
}

.testimonial__client-info .client__info-name {
  font-size: 18px;
  color: #161616;
}

.testimonial .slider-next-prev-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

@media (max-width: 480px) {
  .testimonial .slider-next-prev-btn {
    margin: 20px auto;
  }
}

.testimonial .slider-next-prev-btn .prev, .testimonial .slider-next-prev-btn .next {
  background-color: #161616;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial .slider-next-prev-btn .prev a, .testimonial .slider-next-prev-btn .next a {
  font-size: 12px;
}

.testimonial .slider-next-prev-btn .next {
  margin-left: 48px;
}

.brands .section-title {
  text-align: center;
}

.brands .brand-wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brands .brand-wrap .brand {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.brands .brand-wrap .brand img {
  width: 100%;
}

@media (max-width: 767px) {
  .brands .brand-wrap .brand img {
    width: 50%;
  }
}

.main-bar #blog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 45px;
  margin-bottom: 64px;
}

@media (max-width: 991px) {
  .main-bar #blog {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.main-bar #load-more-btn {
  outline: none;
  border: none;
  font-size: 14px;
  line-height: 20px;
  color: #0063F7;
  cursor: pointer;
  display: block;
  margin: 0px auto 64px;
  background-color: transparent;
}

.single-blog {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 100px;
}

.single-blog__feature-image {
  margin-bottom: 16px;
}

.single-blog__feature-image img {
  width: 100%;
}

.single-blog__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}

.single-blog__meta-left {
  padding: 8px 16px;
}

.single-blog__meta-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-blog__meta-right p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-blog__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #161616;
  margin-bottom: 64px;
}

.single-blog__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  color: #707070;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.001em;
}

.single-blog__content-left .single-blog-author {
  margin-bottom: 32px;
}

.single-blog__content-left > p {
  margin-bottom: 16px;
}

.single-blog__content-left p {
  color: #707070;
}

.single-blog__content-right img {
  width: 100%;
}

.single-blog__content-details {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  margin-bottom: 60px;
}

.single-blog__content-details > p {
  margin-bottom: 16px;
}

.single-blog__content-qoute {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  margin-bottom: 64px;
}

.single-blog__content-qoute img {
  margin-bottom: 48px;
}

.single-blog__content-qoute p {
  font-size: 18px;
}

.single-blog__content-last {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  margin-bottom: 64px;
}

.single-blog .share-item {
  border-left: 1px solid #707070;
  padding: 8px 30px;
}

.single-blog .share-item ul li {
  display: inline-block;
  padding: 16px 12px;
}

.single-blog .share-item ul li:first-child {
  padding-left: 0px;
}

.single-blog .share-item ul li:last-child {
  padding-right: 0px;
}

.more-blogs-title {
  margin-bottom: 48px;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #161616;
}

.main-bar #portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 45px;
  margin-bottom: 64px;
}

@media (max-width: 991px) {
  .main-bar #portfolio {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.main-bar #load-more-btn {
  outline: none;
  border: none;
  font-size: 14px;
  line-height: 20px;
  color: #0063F7;
  cursor: pointer;
  display: block;
  margin: 0px auto 64px;
  background-color: transparent;
}

.single-portfolio {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 100px;
}

.single-portfolio__feature-image {
  margin-bottom: 16px;
}

.single-portfolio__feature-image img {
  width: 100%;
}

.single-portfolio__meta {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  margin-bottom: 48px;
}

.single-portfolio__meta-left h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #161616;
  margin-bottom: 48px;
}

.single-portfolio__meta-left p {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #161616;
  padding-right: 16px;
}

.single-portfolio__meta-left > p {
  margin-bottom: 16px;
}

.single-portfolio__meta-right-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
}

.single-portfolio__meta-right-top p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-portfolio__meta-right-bottom h2 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #161616;
  margin-bottom: 16px;
}

.single-portfolio__meta-right-bottom P {
  color: #707070;
  margin-bottom: 16px;
}

.single-portfolio__role-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #161616;
  margin-bottom: 64px;
}

.single-portfolio__role-designation {
  list-style-type: disc;
  padding-left: 30px;
  margin-bottom: 32px;
}

.single-portfolio__role-designation li::marker {
  color: #2f2f2f;
  font-size: 18px;
}

.single-portfolio__content-details {
  font-size: 16px;
  line-height: 24px;
  color: #161616;
}

.more-portfolios-title {
  margin-bottom: 48px;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #161616;
}

.contact {
  background-color: #f7f7f7;
}

.contact-title {
  width: 400px;
}

.contact-title h2 {
  padding: 0 40px 10px 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #161616;
}

.contact-title p {
  font-size: 16px;
  line-height: 24px;
  color: #707070;
  padding-bottom: 40px;
}

.contact-map {
  width: 100%;
  height: 600px;
}

@media (max-width: 991px) {
  .contact-map {
    height: 450px;
  }
}

.contact-map img {
  width: 100%;
  height: 100%;
}

.contact-form {
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px 16px;
  background-color: transparent;
  border: 1px solid #ededed;
  border-radius: 5px;
  margin-bottom: 10px;
}

.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #8d8d8d;
}

.contact-form input:-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder {
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #8d8d8d;
}

.contact-form input::-ms-input-placeholder,
.contact-form textarea::-ms-input-placeholder {
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #8d8d8d;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #8d8d8d;
}

.contact-form input:focus {
  border: 1px solid blue !important;
}

.contact-form-btn {
  margin-top: 50px;
}

.contact-form-btn .btn_primary {
  padding: 14px 25px;
}

@media (max-width: 991px) {
  .contact-form {
    margin-top: 50px;
    width: 80%;
  }
}

.education-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.education .experience-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  border: 1px solid #E2E2E2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 12px;
}

.education .experience-card__left {
  margin-right: 8px;
}

.education .experience-card__left img {
  padding: 12px 8px;
  background-color: #fff;
}

.education .experience-card__right h2 {
  font-size: 18px;
  margin-bottom: 8px;
}

.education .experience-card__right h3 {
  font-size: 14px;
  margin-bottom: 16px;
  color: #707070;
}

.education .experience-card__right p {
  font-size: 14px;
  color: #707070;
}
