* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.sidebar {
  background-color: #F7F7F7;
  overflow: hidden;
  padding: 16px;
}

.sidebar-profile {
  margin: 16px;
}

.sidebar-profile__image {
  width: 191px;
  height: 191px;
  border-radius: 50%;
  margin: 0 auto 16px;
}

.sidebar-profile__image img {
  width: 100%;
}

.sidebar-profile__name, .sidebar-profile__designation {
  text-align: center;
}

.sidebar-profile__designation {
  margin-bottom: 16px;
}

.sidebar-profile__social-media ul {
  text-align: center;
}

.sidebar-profile__social-media ul li {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 0 12px;
}

.sidebar-profile__social-media ul li a img {
  width: 100%;
}

.sidebar-menu {
  margin-bottom: 80px;
}

.sidebar-menu ul li {
  padding: 6px 0px;
}

.sidebar-menu ul li:hover, .sidebar-menu ul li:active {
  background-color: #EDEDED;
}

.sidebar-menu ul li:hover a img, .sidebar-menu ul li:active a img {
  fill: #2D7CF5;
}

.sidebar-menu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.001em;
}

.sidebar-menu ul li a span {
  color: #707070;
}

.sidebar-menu ul li a img {
  margin: 0px 20px;
}

.sidebar-contact p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.001em;
  color: #707070;
}

.sidebar-contact p img {
  margin: 0px 20px;
}
