.about {
  @include max(768px) {
    margin-top: 50px;
  }
  &-img {
    width: 100%;
    height: 449px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-content {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #707070;
  }
}
