.brands{
    .section-title{
        text-align: center;
    }
    .brand-wrap{
    align-items: center;
    .brand{
        box-sizing: border-box;
        img{
            width: 100%;
        }
    }   
}
}
