.clients-gallery{
    position: relative;
    height: 400px;  
    padding: 20px;
    @include max(767px){
        display: none;
    }
    img{
        display: inline-block;
    }
    .img2{
        position: absolute;
        width: 60px;
        left: 20px;
        top: 20px;
    }
    .img3{
        position: absolute;
        right: 130px;
        top: 50px;
        width: 60px;
    }
    .img4{
        position: absolute;
        top: 120px;
        left: 200px;
    }
    .img5{
        position: absolute;
        right: 20px;
        top: 20px;
        width: 30px;
    }
    .img6{
        position: absolute;
        left: 60px;
        top: 120px;
    }
    .img7{
        position: absolute;
        top: 200px;
        left: 60%;
    }
    .img8{
        position: absolute;
        right: 20px;
        top: 120px;
    }
    .img9{
        width: 100px;
        position: absolute;
        left: 70px;
        top: 180px;
    }
}