.service-history {
  margin-top: 100px;
  color: #161616;
  display: flex;
  justify-content: space-between;
  @include max(768px) {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &-card {
    text-align: center;
    margin-bottom: 20px;
    p {
      font-size: 16px;
      line-height: 24px;
    }
    h2 {
      border-radius: 25px;
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      width: 149px;
      height: 149px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
      &.complete {
        background: #fce7be;
      }
      &.years {
        background: #daf3ff;
      }
      &.clients {
        background: #ffcdcd;
      }
      &.award {
        background: #8bdb81;
      }
    }
    @include max(768px) {
      flex: 0 0 50%;
    }
    @include max(425px) {
      flex: 0 0 100%;
    }
  }
}
