.contact {
  background-color: #f7f7f7;
  &-title {
    width: 400px;
    h2 {
      padding: 0 40px 10px 0;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.02em;
      color: #161616;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      color: #707070;
      padding-bottom: 40px;
    }
  }
  &-map {
    width: 100%;
    height: 450px;
    @include max(991px) {
      height: 450px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-form {
    width: 100%;
    input,
    textarea {
      width: 100%;
      padding: 12px 16px;
      background-color: transparent;
      border: 1px solid #ededed;
      border-radius: 5px;
      margin-bottom: 10px;
      &::placeholder {
        font-family: "Public Sans", sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #8d8d8d;
      }
    }

    &-btn {
      margin-top: 10px;
      .btn_primary {
        padding: 14px 25px;
      }
    }
    @include max(991px) {
      margin-top: 50px;
      width: 80%;
    }
    @include max(767px) {
      margin-top: 50px;
      width: 100%;
    }
  }
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea,
select {
  outline: none;
}

input:focus,
textarea:focus {
  border: 1px solid blue !important;
}
#map {
  height: 100%;
}
