@import "../layout/hero";
@import "../layout/about";
@import "../layout/service";
@import "../components/service-card";
@import "../layout/service";
@import "../components/pricing-card";
@import "../layout/cleintsGallery";
@import "../layout/slider";
@import "../layout/brands"

